/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MY CODE */

*{
    text-decoration: none;
}

header {
    background-color: white;
    width: 100%;
    height: 100px;        
}

header .header-brand {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: sans-serif;
    font-size: 16px;    
    color: #111;
    text-transform: uppercase;
}
 
header .header-cases {
    display: none;
}

@media only screen and (min-width: 1000px) {
 header .header-brand {
    margin: 31px 0; 
    text-align: left;
    line-height: 38px; 
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
 }
    
    header nav ul {
    
    margin: 20px 0px 0px 20px;
   float: left;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: sans-serif;
    font-size: 16px;    
    color: #111;
    line-height: 60px;
    
}
}

/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/DSC_0026.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.index-banner-2 {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/portfolio-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.index-banner-3 {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/kilimanjaro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}


.vertical-center{
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: sans-serif;
    font-weight: 900;
    line-height: 70px;
    font-size: 60px;    
    color: white;
    text-align: center;
}

.index-banner-2 h2 {
    font-family: sans-serif;
    font-weight: 900;
    line-height: 70px;
    font-size: 60px;    
    color: white;
    text-align: center;
}

.index-banner-3 h2 {
    font-family: sans-serif;
    font-weight: 900;
    line-height: 70px;
    font-size: 60px;    
    color: white;
    text-align: center;
}

.index-banner h1 {
    font-family: monospace;
    font-weight: 100;
    font-size: 28px;
    font-style: italic;
    line-height: 40px;
    color: white;
    text-align: center;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links div h3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 28px;    
    line-height: 100px;
    color: 111;
    text-align: center;
    text-transform: uppercase;
}
.index-links-1 div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links-1 div h3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 28px;    
    line-height: 100px;
    color: 111;
    text-align: center;
    text-transform: uppercase;
}

.index-boxlink-square-1 {        
   
    background-image: url(img/tribute.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    }
    
    .index-boxlink-square-2 {        
    
    background-image: url(img/parralax.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    }
    
    .index-boxlink-square-3 {        
    
    background-image: url(img/landing.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    }



@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 20px auto;
    }    
       
    .wrapper h1{
        font-family: sans-serif;
        font-weight: 100;
        font-size: 25px;
        line-height: 30px;
        text-align: left;
    }
    
   .index-banner {
    height: 500px;
    }
    
    .index-banner-2 {
    height: 500px;
    }
    
    .index-banner-3 {
    height: 500px;
    }
    
    .index-links {
        padding-bottom: 20px;
        overflow: hidden;
    }
    
    .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;    
}
    
    .index-boxlink-square {        
    width: calc(25% - 20px) !important;
    }
    
    .index-boxlink-rectangle {
        width: calc(67% - 20%) !important;
    }
    
    .index-boxlink-square:hover{
        background: #c3c3c3; 
    }
    
     .index-boxlink-rectangle:hover{
        background: #c3c3c3; 
    }
    
   .index-links div h3 {
      
    line-height: 230px;
    
}
    .index-links-1 div {
    margin: 20px 50px 20px;
    height: 230px;
    background-color: #f2f2f2;
    float: left;    
}
    .index-links-1 div h3 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 28px;    
    line-height: 230px;
    color: 111;
    text-align: center;
    text-transform: uppercase;
}
    .index-boxlink-square-1 {        
    width: calc(25% - 20px) !important;
    background-image: url(img/tribute.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    }
    
    .index-boxlink-square-2 {        
    width: calc(25% - 20px) !important;
    background-image: url(img/parralax.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    }
    
    .index-boxlink-square-3 {        
    width: calc(25% - 20px) !important;
    background-image: url(img/landing.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    }
}
/*FOOTER*/

footer {
    width: calc( 100% - 80px);
    padding: 5px 40px;
    margin-top: 20px;
    background-color: #111;/*#fff*/
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
    
}

footer ul li a {
    font-family: sans-serif;
    font-size: 24px;    
    color: #fff;/*#111*/
    line-height: 40px;
}

.footer-sm {
    width: 100px;
    float: right;
}

.footer-sm img{
    width: 100px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
    footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
    padding-right: 30px;    
}
}